// Here you can add other styles
.card,
.dropdown-menu,
.header,
.sidebar {
  box-shadow: rgb(50 50 93 / 2%) 0 2px 5px -1px, rgb(0 0 0 / 5%) 0 1px 3px -1px;
}

.sidebar-overlaid {
  box-shadow: rgb(50 50 93 / 2%) 0 2px 5px -1px, rgb(0 0 0 / 5%) 0 1px 3px -1px, 0 5px 6px -3px rgb(0 0 0 / 25%);
}

.card-header {
  border-bottom: 1px solid var(--cui-card-border-color);
}

.header {
  border: 0;
}

.sidebar-nav {
  margin: .75rem;

  .nav-link {
    @include border-radius($border-radius);
  }

  .nav-group.show .nav-group-toggle:hover {
    color: $high-emphasis-inverse;
  }
}

.sidebar-brand {
  justify-content: space-between;
  padding: 0 $sidebar-nav-link-padding-x;
}

.sidebar-toggler {
  flex: 0 0 2rem;
  background-color: transparent;

  &::before {
    width: 2rem;
  }

  &:hover {
    background-color: transparent;
  }
}

.sidebar-narrow-unfoldable:not(:hover) .sidebar-toggler {
  display: none;
}


/* item box */
.select-box {
  background: #f0f0f0;
  width: 96px;
  height: 100px;
  text-align: center;
  line-height: 104px;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #5A5A5A;
  box-sizing: border-box;
}

/* selected item box */
.select-box.selected {
  background: #64B5F6;
  color: white;
}

/* selection container */
.selection {
  position: relative;
}

/* selection box */
.selection-border {
  background: rgba(0, 162, 255, 0.4);
  position: absolute;
  z-index: 99;
}

.container {
  width: 960px;
  margin: 0 auto;
}

b {
  display: inline-block;
  padding-top: 5px;
}

b span {
  font-weight: normal;
}

p {
  margin: 1em 0;
}

a {
  color: inherit;
}

.item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 32px;
  margin: 0;
  font-weight: normal;
  color: black;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 1em 0 0.5em 0;
  margin-bottom: 1em;
  // border-bottom: 1px solid #ECECEB;
  color: black;
}

.header iframe {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

h1 a {
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
}

.info {
  font-size: 13px;
}

.footer {
  padding: 20px 0 0 0;
  font-size: 13px;
  text-align: right;
}

.footer a {
  font-weight: bold;
}

pre {
  background: #F5F5F5;
  border-radius: 3px;
  margin: 0;
  padding: 20px;
}

.min-vh-85 {
  min-height: 85vh !important;
}

.min-vh-40 {
  min-height: 60vh !important;
}

.basic-btn {
  border-radius: 0.375rem !important;
  padding: 0.375rem 0.75rem !important;
  font-style: normal;
  font-weight: 700 !important;
  color: white !important;
  width: 100%;
}

.basic-btn:hover {
  background-color: black;
  border: 1px solid black;
}

.form-btn {
  border-radius: 0 !important;
  padding: 1.1rem !important;
  font-style: normal;
  font-weight: 700 !important;
  color: white !important;
  width: 100%;
}

.form-btn:hover {
  background-color: black;
  border: 1px solid black;
}


// ============== ADD LABWARE ============== //
.standard-btn {
  background-color: #585858;
  border: 2px solid #585858;
  padding: 0.375rem 0.75rem !important;
  font-size: 14px;
  border-radius: 0 !important;
  color: white;
  width: 12em;
  font-weight: 900;
}

.standard-btn:active {
  background-color: #585858;
  border: 2px solid #585858;
  box-shadow: none !important;
  outline: 0;
}

.standard-btn:focus {
  outline: 0;
}

.standard-btn:hover {
  background-color: black;
  border: 2px solid black;
  border-radius: 0;
  color: #dedede;
  font-weight: 900;
}

.standard-btn.disabled {
  background-color: black;
  border: 2px solid black;
  border-radius: 0;
  color: #dedede;
  font-weight: 900;
  opacity: 0.2;
}

.cancel-btn {
  background-color: #ebedef;
  border: 2px solid #ebedef;
  padding: 0.375rem 0.75rem !important;
  font-size: 14px;
  border-radius: 0 !important;
  color: #585858;
  width: 12em;
  font-weight: 900;
}

.cancel-btn:active {
  background-color: #ebedef;
  border: 2px solid #ebedef;
  box-shadow: none !important;
  outline: 0;
}

.cancel-btn:focus {
  outline: 0;
}

.cancel-btn:hover {
  background-color: black;
  border: 2px solid black;
  border-radius: 0;
  color: #dedede;
  font-weight: 900;
}

.add-labware-slot-btn-create {
  background-color: white;
  border: 6px solid #f1f1f1;
  border-radius: 16px;
  max-width: 100%;
  text-align: center;
  font-size: initial;
  color: #585858 !important;
  font-weight: 900;
  padding: 0;
}


.add-labware-slot-btn-create:hover {
  border: 6px solid #01aab1;
  border-radius: 16px;
  background-color: white !important;
  color: #ffffff;
}

.add-labware-slot-btn {
  background-color: white;
  border: 6px solid #f1f1f1;
  border-radius: 16px;
  max-width: 100%;
  text-align: center;
  font-size: initial;
  color: #fff;
  font-weight: 900;
  padding: 0;
}

.add-labware-slot-btn-img {
  background-color: white;
  border-radius: 16px;
  max-width: 100%;
  text-align: center;
  font-size: initial;
  background-size: cover !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

.add-labware-slot-btn:active {
  background-color: #01aab1 !important;
  border: 6px solid #f1f1f1;
  border-radius: 16px;
  box-shadow: none !important;
  color: #ffffff !important;
}

.add-labware-slot-btn:hover {
  border: 6px solid #01aab1;
  border-radius: 16px;
  background-color: white !important;
  color: #ffffff;
}

.slot-label-row {
  color: black;
  padding: 4px;
  border-radius: 16px;
  font-weight: 100;
  margin-top: 5px;
  position: relative;
  z-index: -1;
  text-align: center;
}

.add-labware-slot-btn-selected {
  border: 6px solid #01aab1 !important;
  color: #fff !important;
  // border: 6px solid #f1f1f1;
}

.dot-div {
  align-items: center;
  display: flex;
}

.dot {
  border-radius: 10px;
  margin-right: 8px;
  height: 10px;
  width: 10px;
}

.add-labware-table {
  width: 100%;
}

.action-row {
  padding: 6px 6px 0 !important;
}

.trash-btn {
  border: none;
}

.trash-btn:hover {
  background: none;
  border: none;
  color: #b92626;
}

.slot-action-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-v68sna-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: var(--cui-border-width) solid var(--cui-form-select-border-color, var(--cui-border-color));
  border-color: var(--cui-border-color) !important;
  border-radius: 0.375rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-style: none;
}

.css-blhudp-control:hover {
  border-color: var(--cui-form-select-focus-border-color, #80d5d8) !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(1, 170, 177, 0.25) !important;
}

.css-blhudp-control {
  border-color: var(--cui-form-select-focus-border-color, #80d5d8) !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(1, 170, 177, 0.25) !important;
}

.css-13iuoa8-control {
  background: #ebedef !important;
}

.color-picker {
  padding: 0 !important;
  width: 100% !important;
  box-shadow: none !important;
  border-radius: var(--cui-border-radius) !important;
  border: var(--cui-border-width) solid var(--cui-input-border-color, var(--cui-border-color)) !important;
  margin-bottom: 6px;
}

.sketch-picker {
  width: 30px;
  box-shadow: none !important;
}

.add-labware-modal {
  display: flex !important;
  height: auto !important;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, .25);
  width: calc(100% - 18rem);
  right: 0 !important;
}

.modal {
  left: auto !important;
  right: 0 !important;
}

.modal-backdrop {
  background-color: #000000b3;
  opacity: 1 !important;
}

.modal-static .modal-dialog {
  transform: scale(1) !important;
}

.modal-step-h {
  position: absolute;
  left: 16px;
  font-weight: 900;
}

.modal-action-btn {
  background: none;
  border: none;
  box-shadow: none;

}

.modal-action-btn:hover {
  background: none;
  border: none;
  text-decoration: underline;
  box-shadow: none;

}

.modal-action-btn:focus {
  outline: none;
  background: none;
  border: none;
  box-shadow: none;

}

.modal-action-btn:active {
  background: none;
  border: none;
  text-decoration: underline;
  box-shadow: none;
}

.modal-title {
  font-size: large !important;
  font-weight: 600 !important;
  color: #666666;
}

.modal-subtitle {
  font-size: 15px !important;
  font-weight: 600 !important;
  color: #666666;
}

.modal-header-row {
  display: flex;
  margin: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px 16px 10px;
  border-bottom: var(--cui-modal-header-border-width) solid var(--cui-modal-header-border-color);
  border-top-left-radius: var(--cui-modal-inner-border-radius);
  border-top-right-radius: var(--cui-modal-inner-border-radius);

}

//=======================//

.custom-breadcrumb {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  font-size: small;
  color: #01aab1;
  background: #e9ecef;
  padding: 6px;
  z-index: 10000000;
  margin-bottom: 0;
  border-radius: 0;
}

.swal2-confirm {
  background: #01aab1 !important;
  padding: 0.375rem 0.75rem !important;
  font-style: normal;
  font-weight: 700 !important;
}

.swal2-confirm:hover {
  background: black !important;
}

.swal2-cancel {
  background: #585858 !important;
  padding: 0.375rem 0.75rem !important;
  font-style: normal;
  font-weight: 700 !important;
}

.swal2-cancel:hover {
  background: black !important;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}



// Drag and Drop Steps
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.add-step-btn {
  background-color: #585858;
  border: 2px solid #585858;
  padding: 0.375rem 0.75rem !important;
  // border-radius: 0.375rem !important;
  border-radius: 0 !important;
  color: white;
  width: 12em;
  font-weight: 900;
}

.add-step-btn:active {
  background-color: #585858;
  border: 2px solid #585858;
  box-shadow: none !important;
  outline: 0;
}

.add-step-btn:focus {
  outline: 0;
}

.add-step-btn:hover {
  background-color: black;
  border: 2px solid black;
  border-radius: 0;
  color: #dedede;
  font-weight: 900;
}

.go-back-btn {
  border: none;
  color: #585858;
}

.go-back-btn:active {
  background-color: transparent;
  border: none;
  box-shadow: none !important;
  outline: 0;
}

.go-back-btn:focus {
  background-color: transparent;
  border: none;
  outline: 0;
}

.go-back-btn:hover {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: black;
  font-weight: 900;
}

/* Apply a default margin-left for mobile devices */
.flow-rate-col {
  margin-left: 90px !important;
}

/* This media query will apply styles for screens that are wider than 768px */
@media (min-width: 768px) {
  .flow-rate-col {
    margin-left: 126px !important;
  }
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Darken the background more */
  /* Higher than the first modal */
}

.custom-tooltip .tooltip-inner {
  min-width: 200px;
  /* Minimum width */
  max-width: 400px;
  /* Maximum width */
  word-wrap: break-word;
  /* Break long words */
  border-radius: 15px;
  border: 2px solid #236B6F;
  background: #CCEEEF;
  color: #555555;
}

/* Normal state of the SVG with default stroke */
.info-icon path {
  stroke: #666666;
}

/* Hover state of the SVG changing the stroke and fill of specific paths */
.info-icon:hover path {
  stroke: #236B6F;
  /* This changes the SVG's stroke color on hover */
}

/* Changing the fill of the circular path */
.info-icon:hover path:first-child {
  fill: #CCEEEF;
  /* This changes the SVG's fill color on hover for the first path */
}

.delete-btn-trash {
  background-color: transparent;
  border: none;
}

.delete-btn-trash:hover {
  background-color: transparent;
}


.profile-btn-steps {
  width: 177px;
  height: 60px;
  border-radius: 15px;
  border: 5px solid #414141;
  background: #FFF;
  box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.70);
}

.profile-btn-steps:hover {
  background-color: transparent;
  border-color: #414141;
}


.profile-btn-steps:active {
  background-color: transparent !important;

}

.justify-start-force {
  display: 'flex' !important;
  justify-content: flex-start !important;
}

.justify-end-force {
  display: 'flex' !important;
  justify-content: flex-end !important;
}


.col-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}


.connection-outer {
  position: relative;
  height: 100%;
  width: 100%;
}


.pair-cards {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 16px 20px;
  letter-spacing: 0.1px;
  border-radius: 15px;
  background: #01AAB1;
  margin-top: 30px;
  display: flex;
  /* Add flex display */
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  flex-direction: row;
  /* Align items to the start (left) */
}

.pair-cards.dragging {
  color: #666;
  background: #F2F2F2;
}